<article
  [class]="{
    'status-open': task().status === taskListFilter.OPEN,
    'status-in-progress': task().status === taskListFilter.IN_PROGRESS,
    'status-done': task().status === taskListFilter.DONE
  }"
>
  <header>
    <h3>{{ task().title }}</h3>
    <p>{{ taskStatus() }}</p>
  </header>
  <p>{{ task().description }}</p>
  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    <select #status>
      <option
        value="{{ taskListFilter.OPEN }}"
        [selected]="task().status === taskListFilter.OPEN"
      >
        {{ taskListFilter.OPEN | titlecase }}
      </option>
      <option
        value="{{ taskListFilter.IN_PROGRESS }}"
        [selected]="task().status === taskListFilter.IN_PROGRESS"
      >
        {{ taskListFilter.IN_PROGRESS | titlecase }}
      </option>
      <option
        value="{{ taskListFilter.DONE }}"
        [selected]="task().status === taskListFilter.DONE"
      >
        {{ taskListFilter.DONE | titlecase }}
      </option>
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
</article>
