<article
  [class]="{
    'status-open': task().status === taskStatusOptions.OPEN,
    'status-in-progress': task().status === taskStatusOptions.IN_PROGRESS,
    'status-done': task().status === taskStatusOptions.DONE
  }"
>
  <header>
    <h3>{{ task().title }}</h3>
    <p>{{ taskStatus() }}</p>
  </header>
  <p>{{ task().description }}</p>
  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    <select #status>
      <option
        value="{{ taskStatusOptions.OPEN }}"
        [selected]="task().status === taskStatusOptions.OPEN"
      >
        {{ taskStatusOptions.OPEN | titlecase }}
      </option>
      <option
        value="{{ taskStatusOptions.IN_PROGRESS }}"
        [selected]="task().status === taskStatusOptions.IN_PROGRESS"
      >
        {{ taskStatusOptions.IN_PROGRESS | titlecase }}
      </option>
      <option
        value="{{ taskStatusOptions.DONE }}"
        [selected]="task().status === taskStatusOptions.DONE"
      >
        {{ taskStatusOptions.DONE | titlecase }}
      </option>
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
</article>
